<div class="banner-feedback desktop"><img src="/desktop/images/banner-feedback.png"></div>
<div class="banner-feedback mobile"><img src="/desktop/images/banner-feedback-1-mobile.png"></div>
<!-- wrapper start-->
<div class="wrapper">
	<div class="container-feedback feedback1">
		<div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <h3 class="h3-green desktop">Vos raisons de fumer</h3>
                   <p class="desc-raison-fumer text-left m-size">
                       {{score.profil}}
                   </p>
            </div>
         </div> 
		<div class="row">
			<div class="col-lg-12 desktop">
		           <a class="right type-bt-green" href="/quiz/FEEDBACK_2">Continuer</a>
		    </div>
		    <div class="col-lg-12 mobile center">
		           <a class="right type-bt-green" href="/quiz/FEEDBACK_2">Continuer</a>
		    </div>
		</div> 
	</div>    
</div>    