<!-- wrapper start-->
<div class="wrapper">
	  <img class="left pad-bottom-20 img-feedback-3" style="margin-top: -20px;" src="/desktop/images/banner-feedback-3.png" />

      <div class="container-feedback feedback3">
           <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                      	                 
                             <h3 class="h3-green desktop pad-bottom-20">Votre niveau de dépendance</h3>
                             <p class="desc-txt m-size text-left">
                                 {{score.profil}}<sup ng-if="score.profil_2 != ''">&reg;</sup>{{score.profil_2}}
                             </p>
                             <p class="desc-txt m-size text-left">
                                 <strong> Nous en savons plus sur votre profil. Nous pouvons maintenant vous accompagner de façon individualisée pour réussir ensemble l'incroyable.</strong>
                             </p>
                      </div>

           </div> 
           <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 pad-top-20 css-mobile">
                             <a class="right type-bt-green" ng-click='saveQuiz()' href="javascript:void(0)">Continuer (dernière étape !)</a>
                      </div>
           </div> 
      </div>   
</div>    
<!-- wrapper end-->
              

                  
              