<div class="wrapper">
	<div class="container-feedback">
	    <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12">
                  <h3 class="h3-green desktop">La place de la cigarette dans votre vie</h3>
                  <p class="m-size desc-txt pad-top-20 text-left" style="margin-bottom:0;">
                      {{score.profil}}
                  </p>
                  <p class="m-size desc-txt text-left">
                      {{score.profil2}}
                  </p>
                  
           </div>
	    </div> 
	</div>   
	<div class="banner-feedback">
		 <img class="left desktop" src="/desktop/images/banner-feedback2.png" />
		 <img class="left mobile" src="/desktop/images/banner-feedback2-mobile.png" />
	  <div class="txt desktop">
	  	<span class="left mb-size cos-bg-lt">52%</span>
	  	<p class="left" >des fumeurs ont le<br/> même profil que vous</p>
	  </div>	
	  <div class="txt mobile">
	  	<p class="center" style="margin-top: 18px;"><span class="cos-bg-lt percente">52%</span></p>
	  	<p class="center" >des fumeurs ont le<br/> même profil que vous</p>
	  </div> 
	</div>
	<div class="container-feedback pad-top-25"> 
	  <div class="row">
	               <div ng-show='score.motivation' class="col-lg-12 col-md-12 col-sm-12">
	                      <h3 class="h3-black-arial desktop cos-bg-lt">Vos motivations pour arrêter de fumer</h3>
	                      <h3 class="h3-black-arial mobile cos-bg-lt center mb-size">Vos motivations pour<br/> arrêter de fumer</h3>
	                      <p class="desc-txt pad-top-10 m-size text-left">
	                         {{score.motivation}}
	                      </p>
	               </div>
	   </div>   
	  <div class="row">
	               <div class="col-lg-12 col-md-12 col-sm-12">
	                      <a class="right type-bt-green" href="/quiz/FEEDBACK_3">Continuer (vous y êtes presque !)</a>
	               </div>
	    </div> 
	</div>
</div>    
              