<div ng-hide="loading">

	<div id="container" >
	             
	             <!--header start-->
			       <ng-include  src="'/desktop/partials/usedpartials/header_desktop_dashboard.html'" ></ng-include>
		         <!--header end-->
	          
	              <!--main content start-->
	              <div id="main-content" class="over">
	                         
                         <!--menu sidebar desktop-->
		                   <ng-include  src="'/desktop/partials/usedpartials/menu_desktop.html'" ></ng-include>
		                 <!--fin menu sidebar desktop-->
	                     
	                     <!-- wrapper start-->
                         <div class="wrapper with-side-bar produit astuce">
	                             <div class="row">
	                                    <div class="col-lg-12">
	                                      <h2 class="pad-bottom-20 desktop">Des astuces pour vous aider</h2>
	                                      <br/>
	                                      <p class="m-size">Lorsque l’on arrête de fumer, il est normal de traverser des moments de doute. Nous sommes là pour vous aider à accomplir l’incroyable et vous accompagner jusqu’à votre victoire face à la cigarette. Plusieurs astuces peuvent vous aider à lutter contre les sensations de manque et à maintenir le cap.</p>
	                                      <br/>
	                                      
	                                      <div id='cssmenu'>
												<ul>
												   
												   <li class="dropdown first"><p class="title" directive-acoordion><span>Les bénéfices de l'arrêt du tabac</span></p>
												      <ul class="dropdown-menu">
												         <li>
												         	Les bénéfices de l'arrêt du tabac
						                                 </li>
												      </ul>
												   </li>
												   
												   <li class="dropdown"><p class="title" directive-acoordion><span>Les stratégies d'arrêt</span></p>
												      <ul class="dropdown-menu">
												         <li>
												         	Les stratégies d'arrêt
						                                 </li>
												      </ul>
												   </li>
												   
												   <li class="dropdown"><p class="title" directive-acoordion><span>Gérer son environnement</span></p>
												      <ul class="dropdown-menu">
												         <li>
												         	Gérer son environnement
						                                 </li>
												      </ul>
												   </li>
												   
												   <li class="dropdown"><p class="title" directive-acoordion><span>Gérer le manque de cigarettes</span></p>
												      <ul class="dropdown-menu">
												         <li>
												         	Gérer le manque de cigarettes
						                                 </li>
												      </ul>
												   </li>
												   
												   <li class="dropdown"><p class="title" directive-acoordion><span>Gérer une envie de cigarette</span></p>
												      <ul class="dropdown-menu">
												         <li>
												         	Gérer une envie de cigarette
						                                 </li>
												      </ul>
												   </li>
												   
												   <li class="dropdown"><p class="title" directive-acoordion><span>Comprendre le sevrage tabagique</span></p>
												      <ul class="dropdown-menu">
												         <li>
												         	Comprendre le sevrage tabagique
						                                 </li>
												      </ul>
												   </li>
												   
												   <li class="dropdown"><p class="title" directive-acoordion><span>Les substituts nicotiniques</span></p>
												      <ul class="dropdown-menu">
												         <li>
												         	Les substituts nicotiniques
						                                 </li>
												      </ul>
												   </li>
												   
												   <li class="dropdown"><p class="title" directive-acoordion><span>Rechute : N'abandonnez pas la partie</span></p>
												      <ul class="dropdown-menu">
												         <li>
												         	Rechute : N'abandonnez pas la partie
						                                 </li>
												      </ul>
												   </li>
												   
												   <li class="dropdown last"><p class="title" directive-acoordion><span>Comprendre la rechute</span></p>
												      <ul class="dropdown-menu">
												         <li>
												         	Comprendre la rechute
						                                 </li>
												      </ul>
												   </li>
	                                            </ul>
	                                          <p class="m-size mobile pad-top-20 left">Vous vous posez des questions et vous n'avez pas trouvé de réponses ? Rendez-vous sur notre site Nicorette® <a href="https://www.nicorette.fr/comprendre-le-tabagisme/questions" class="green">en cliquant ici</a></p>
	                                      
	                                    </div>
				                </div>
	                        </div>
                        
		              </div>
		              <!-- wrapper end-->

	              </div>
	              <!--main content end--> 
	              
	              <!--footer start-->
                    <ng-include  src="'/desktop/partials/usedpartials/footer_desktop.html'" ></ng-include>
                    <ng-include  src="'/desktop/partials/usedpartials/footer_mobile.html'" ></ng-include>
                  <!--footer end-->
	</div>

</div>
