<div ng-hide="loading">
	
	<div id="container" >
         <!--header start-->
           <ng-include  src="'/desktop/partials/usedpartials/header_desktop_dashboard.html'" ></ng-include>
         <!--header end-->
      
              <!--main content start-->
              <div id="main-content" class="over">
                      <!-- wrapper start-->
                      <div class="wrapper with-side-bar panic-bouton panic1">
                             <div class="row">
                                    <div class="col-lg-12 desktop">
                                      <h2 class="pad-top-20">Bouton panique</h2>
                                      <br/></br/>
                                    </div>
                                    
                                    <div class="col-lg-12">
	                         	 		<div class="content">
	                         	 		                	 		   
	                                 	    <div class="row">
	                                 	    	 <div class="bg-btn-zut center">
					                                 <div class="col-lg-12">
					                                 	<a class="type-bt-green bt-width bt-postion-top" href="/panique-went-smoke"><span><strong>Help !</strong> J'ai trop envie de fumer!</span></a>
					                                 </div>
					                                
					                             </div> 
	                                 	    	
				                                 <div class="bg-btn">
					                                 <div class="col-lg-6 center">
					                                 	<a class="type-bt-green bt-width bt-postion-top" href="/panique-cracked">Zut j'ai craqué !</a>
					                                 </div>
					                                 
					                                 <div class="col-lg-6 center">
					                                    <a class="type-bt-green dark bt-width bt-postion-top" href="/panique-not-cracked">J'ai été tenté(e) mais je n'ai pas craqué(e)</a>
					                                 </div> 
					                             </div>    
				                                 
				                                 <div class="col-lg-12 m-size">
					                            	<h3 class="pad-bottom-20 m-size">Nos petits conseils</h3>
					                            	<p>
					                            	  Durant les premières semaines d’arrêt, le manque de nicotine peut se manifester par des pics fréquents et brutaux durant lesquels le désir de reprendre la cigarette se fait très intense. Ces envies soudaines n’apparaissent pas toujours de façon inattendue. Elles correspondent à des circonstances au cours desquelles vous aviez l’habitude de fumer ou sont déclenchées par des stimuli comme les odeurs ou la vue d’une cigarette. Ce sont des réflexes conditionnés.	
					                            	</p>
					                            	
					                            	<p>
					                            		Ces pics durent en moyenne 3 à 4 minutes et il est important de s’y préparer, pour mieux les dépasser et éviter la rechute. Lorsque l’envie irrésistible d’une cigarette se fait ressentir, faites quelque chose afin d’occuper l’instant, par exemple :
					                            	</p>
					                            	
					                            	<p>
									                    Buvez un grand verre d’eau.<br/>
														Mangez un fruit.<br/>
														Respirez profondément.
					                            	</p>
					                             </div>
				                                 
				                                 
				                            </div>
				                     </div>  
	                                </div>   
	                                
			                </div>
                        </div>
                        <!-- wrapper end-->
                         
              </div>
              <!--main content end-->  
              
              <!--footer start-->
                 <ng-include  src="'/desktop/partials/usedpartials/footer_mobile.html'" ></ng-include>
              <!--footer end-->  
	</div>
</div>