<div ng-hide="loading">
	
	<div id="container" >
         <!--header start-->
           <ng-include  src="'/desktop/partials/usedpartials/header_desktop_dashboard.html'" ></ng-include>
         <!--header end-->
      
          <!--main content start-->
          <div id="main-content" class="over info-mobile">
                    <!--menu sidebar desktop-->
                               <ng-include  src="'/desktop/partials/usedpartials/menu_desktop.html'" ></ng-include>
                     <!--fin menu sidebar desktop-->
                         
                         <!-- wrapper start-->
                         <div class="wrapper with-side-bar panic-bouton panic2b lien">
                             <div class="row">
                                    <div class="col-lg-12  desktop">
                                      <h2 class="pad-top-20">Courage n'abandonnez pas !</h2>
                                      <br/></br/>
                                      <p><span>Une pulsion peut être intense et fréquente, mais elle ne dure pas longtemps, en moyenne 3 à 4 minutes.<br/>
                                       Il existe plusieurs stratégies à mettre en place pour gérer une envie de cigarette</span></p>
                                      <br/>
                                    </div>  
                                    <div class="col-lg-12 mobile">
                                      <p><span class="cos-bg-md light-color ml-size">Courage n'abandonnez pas !</span></p>
                                      <p class="mm-size">Une pulsion peut être intense et fréquente, mais elle ne dure pas longtemps, en moyenne 3 à 4 minutes.
                                       Il existe plusieurs stratégies à mettre en place pour gérer une envie de cigarette
                                      </p>
                                    </div>
                                    
                                    <div class="desktop">
	                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float: left;"> 
	                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		                                    <a class="type-bt-green bt-width before" ng-click="addTrickPoint('actuality_site_consultation')" href="javascript:void(0)">Consulter un site d'actualité</a>
		                                </div>
		                              
		                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		                                    <a class="type-bt-green bt-width after" target="_blank" href="/menu-astuces">Astuces pour vous aider</a>
		                                </div> 
		                              </div> 
		                              
		                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float: left;">
		                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		                                    <a class="type-bt-green dark bt-width before" target="_blank" href="/mes-parrains">Contacter un parrain  (+3 pts)</a>
		                                </div>
		                              
		                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		                                    <a class="type-bt-green dark bt-width after" target="_blank" href="https://soundcloud.com/jaccomplis-lincroyable/sets/tenez-bon">Ecouter de la musique</a>
		                                </div>
		                              </div>    
		                                
		                           </div>
		                           
		                           <div id='cssmenu' class="mobile col-lg-12">
											<ul>
											   
											   <li class="dropdown">
											   	  <a class="title" href="http://news.google.fr/"><span>Consulter un site d'actualité</span></a>
											      <ul class="dropdown-menu">
											         <li>
											         	Consulter un site d'actualité
					                                 </li>
											      </ul>
											   </li>
											   
											   <li class="dropdown">
											   	  <a class="title" href="/mes-parrains"><span>Contacter un parrain (+3 pts)</span></a>
											      <ul class="dropdown-menu">
											         <li>
											         	Contacter un parrain (+3 pts)
					                                 </li>
											      </ul>
											   </li>
											   
											   <li class="dropdown">
											   	  <a class="title" href="javascript:void(0)"><span>Découvrir un jeu</span></a>
											      <ul class="dropdown-menu">
											         <li>
											         	Découvrir un jeu
					                                 </li>
											      </ul>
											   </li>
											   
											   <li class="dropdown">
											   	  <a class="title" href="/menu-astuces"><span>Astuces pour vous aider</span></a>
											      <ul class="dropdown-menu">
											         <li>
											         	Astuces pour vous aider
					                                 </li>
											      </ul>
											   </li>
											   
											   <li class="dropdown last">
											   	   <a class="title" href="javascript:void(0)"><span>Ecouter de la musique</span></a>
											       <ul class="dropdown-menu">
											         <li>
											         	Ecouter de la musique 
					                                 </li>
											       </ul>
											   </li>
										  
											</ul>
									</div>
									
									<div class="btn-close mobile pad-bottom-10 center">
	                                    <a class="type-bt-green bt-width" href="/dashboard">Fermer</a>
	                                </div>  		        
                            </div>
                        </div>
                        <!-- wrapper end-->
              </div>
              <!--main content end-->  
              
              <!--footer start-->
                <ng-include  src="'/desktop/partials/usedpartials/footer_desktop.html'" ></ng-include>
                <ng-include  src="'/desktop/partials/usedpartials/footer_mobile.html'" ></ng-include>
              <!--footer end-->  
	</div>
</div>