<div ng-hide="loading">
	
	<div id="container" >
         <!--header start-->
           <ng-include  src="'/desktop/partials/usedpartials/header_desktop_default.html'" ></ng-include>
         <!--header end-->
      
          <!--main content start-->
          <div id="main-content" class="over info-mobile">
                                               
                         <!-- wrapper start-->
                         <div class="wrapper">
                           <div class="container-profil-1d jarrete2 fin-programme">

	                         	 <div class="row">
	                         	 	
	                         	 	 <div class="col-lg-12 over">
	                         	 	 	       <h2 class="pad-bottom-20 desktop">Fin du programme</h2>
			                         	 	   <div class="content text-left">
			                         	 		   <p class="desktop">Votre programme de sevrage est terminé, vous pouvez être fier de vous. Désormais profitez de votre nouvelle liberté et partagez votre expérience avec votre entourage !
			                         	 		   	<br/><br/>
			                         	 		   	<span>Comment évaluez-vous l'utilité du programme NICORETTE<sup>®</sup> J'accomplis l'incroyable ?</span>
			                         	 		   </p>
			                         	 		   <p class="mm-size mobile">Votre programme de sevrage est terminé, vous pouvez être fier de vous. Désormais profitez de votre nouvelle liberté et partagez votre expérience avec votre entourage !</p>
			                                       <h3 class="mobile center mb-size">Comment évaluez-vous l'utilité du programme NICORETTE<sup>®</sup> J'accomplis l'incroyable ?</h3>
			                                   </div> 
			                                   <div class="gradiant content text-center mg-auto">
			                                      <div id="gradiant-fin-color-slider" class="slider"></div>
			                                   </div>
	                                  </div>
	                                  <hr/>
	                                  <div class="col-lg-12 over">
	                                       <div class="content text-left pad-bottom-10">
			                                  <p class="desktop">
				                                   <span> Avant que vous partiez, donnez-nous votre avis, en notant les éléments du programme ci-dessous sur une échelle de 1 à 10 en terme d'utilité. </span>
											  </p>
											  
											  <p class="mobile mm-size">
				                                  Avant que vous partiez, donnez-nous votre avis, en notant les éléments du programme ci-dessous sur une échelle de 1 à 10 en terme d'utilité.
									          </p>
										   </div>	  
									  </div>
									  
									   <div class="col-lg-12 over">
									      <div class="col-lg-6 col-xs-12">
									      	   <p class="titre-bar"><span>Le contenu du programme</span></p>
									           <div class="mg-auto" style="margin-top: 15px;margin-bottom: 15px;">
									              <div class="green left bar-debut">0</div>
									              <div  id="contenu-slider" class="slider left"></div>
									              <div class="green left bar-fin">10</div>
									              <div class="clear"></div>
									           </div>
									      </div>
									      <div class="col-lg-6 col-xs-12">
									      	   <p  class="titre-bar"><span>La durée du programme</span></p>
									           <div class="mg-auto" style="margin-top: 15px;margin-bottom: 15px;">
									                <div class="green left bar-debut">0</div>
									                <div id="programme-slider" class="slider left" ></div>
									                <div class="green left bar-fin">10</div>
									                 <div class="clear"></div>
									            </div>
									      </div>
									   </div>
									   
									   <div class="col-lg-12 over">
									      <div class="col-lg-6 col-xs-12">
									      	    <p  class="titre-bar"><span>La fréquence</span></p>
									            <div class="mg-auto" style="margin-top: 15px;margin-bottom: 15px;">
									               <div class="green left bar-debut" >0</div>
									               <div id="frequence-slider" class="slider left"></div>
									               <div class="green left bar-fin">10</div>
									                <div class="clear"></div>
									            </div>
									      </div>
									      <div class="col-lg-6 col-xs-12">
									      	   <p  class="titre-bar"><span>La personnalisation</span></p>
									           <div class="mg-auto" style="margin-top: 15px;margin-bottom: 15px;">
									               <div class="green left bar-debut">0</div>
									               <div id="personalisation-slider" class="slider left"></div>
									               <div class="green left bar-fin">10</div>
									                <div class="clear"></div>
									           </div>   
									      </div>
									   </div>
									  
									  <div class="col-lg-12 over">
									       <div class="col-lg-6 bg-footer">
									       	    <p class="green mobile m-size">Votre expérience peut être utile aux membres du Club des Incroyables. Venez la partager ou découvrir d'autres histoires vécues sur notre forum.</p>
									            <div class="mg-auto over" style="padding-top:26px;">
									               <a href="javascript:void(0)" class="type-bt-green dark" >Partager sur le Club des Incroyables</a>
									            </div>
									            <p class="green desktop">Votre expérience peut être utile aux membres du Club des Incroyables.</p>
                                                <p class="green desktop">Venez la partager ou découvrir d'autres histoires vécues sur notre forum.</p>
									          
									      </div>
									      
									      <div class="col-lg-6">
									          <div class="mg-auto over" style="padding-top:25px;">
									               <a href="javascript:void(0)" class="type-bt-green " >Terminer</a>
									            </div>
									      </div>
									     
									  </div>
			                    </div>   

                           </div>
                       </div>
                       <!-- wrapper end-->
               </div>
             <!-- Fin main content-->
             
              <!--footer start-->
	            <ng-include  src="'/desktop/partials/usedpartials/footer_desktop.html'" ></ng-include>
	            <ng-include  src="'/desktop/partials/usedpartials/footer_mobile.html'" ></ng-include>
	          <!--footer end-->  
	</div>
</div>
