<div ng-hide="loading">

	<div id="container" >
	             
	             <!--header start-->
			       <ng-include  src="'/desktop/partials/usedpartials/header_desktop_dashboard.html'" ></ng-include>
		         <!--header end-->
	          
	              <!--main content start-->
	              <div id="main-content" class="over">
	                         
                         <!--menu sidebar desktop-->
		                   <ng-include  src="'/desktop/partials/usedpartials/menu_desktop.html'" ></ng-include>
		                 <!--fin menu sidebar desktop-->
	                     
	                     <!-- wrapper start-->
                         <div class="wrapper with-side-bar produit astuce">
	                             <div class="row">
	                                    <div class="col-lg-12">
	                                      <h2 class="pad-bottom-20 desktop">Des astuces pour vous aider</h2>
	                                      <p class="m-size line-height top" style="font-size: 1.3em;">Lorsque l’on arrête de fumer, il est normal de traverser des moments de doute. Nous sommes là pour vous aider à accomplir l’incroyable et vous accompagner jusqu’à votre victoire face à la cigarette. Plusieurs astuces peuvent vous aider à lutter contre les sensations de manque et à maintenir le cap.</p>
	                                      <br/>
	                                      
	                                      <div id='cssmenu'>
												<ul>
								
												   <li class="dropdown first">
												      <p class="title"><a  ng-click="addTrickPoint('trick_1')" href="javascript:void(0)"><span>Les bénéfices de l'arrêt du tabac</span></a></p>
												   </li>
												   
												   <li class="dropdown">
												      <p class="title"><a  ng-click="addTrickPoint('trick_2')" href="javascript:void(0)" ><span>Les stratégies d'arrêt</span></a></p>
												   </li>
												   
												   <li class="dropdown">
												      <p class="title"><a  ng-click="addTrickPoint('trick_3')" href="javascript:void(0)"><span>Gérer son environnement</span></a></p>
												   </li>
												   
												   <li class="dropdown">
												      <p class="title"><a  ng-click="addTrickPoint('trick_4')" href="javascript:void(0)" ><span>Gérer le manque de cigarettes</span></a></p>
												   </li>
												   
												   <li class="dropdown">
												      <p class="title"><a  ng-click="addTrickPoint('trick_5')" href="javascript:void(0)"><span>Gérer une envie de cigarette</span></a></p>
												   </li>
												   
												   <li class="dropdown">
												      <p class="title"><a  ng-click="addTrickPoint('trick_6')" href="javascript:void(0)"><span>Comprendre le sevrage tabagique</span></a></p>
												   </li>
												   
												   <li class="dropdown">
												      <p class="title"><a   ng-click="addTrickPoint('trick_7')" href="javascript:void(0)"><span>Les substituts nicotiniques</span></a></p>
												   </li>
												   
												   <li class="dropdown">
												      <p class="title"><a  ng-click="addTrickPoint('trick_8')" href="javascript:void(0)"><span>Rechute : N'abandonnez pas la partie</span></a></p>
												   </li>
												   
												   <li class="dropdown last">
												     <p class="title"><a  ng-click="addTrickPoint('trick_9')" href="javascript:void(0)"><span>Comprendre la rechute</span></a></p>
												   </li>
	                                            </ul>
	                                          <p class="m-size mobile pad-top-20 left line-height">Vous vous posez des questions et vous n'avez pas trouvé de réponses ? Rendez-vous sur notre site Nicorette® <a href="https://www.nicorette.fr/comprendre-le-tabagisme/questions" class="green">en cliquant ici</a></p>
	                                      
	                                    </div>
				                </div>
	                        </div>
                        
		              </div>
		              <!-- wrapper end-->

	              </div>
	              <!--main content end--> 
	              
	              <!--footer start-->
                    <ng-include  src="'/desktop/partials/usedpartials/footer_desktop.html'" ></ng-include>
                    <ng-include  src="'/desktop/partials/usedpartials/footer_mobile.html'" ></ng-include>
                  <!--footer end--> 
	</div>

</div>
