<div ng-hide="loading">

	<div id="container" >
	             
	             <!--header start-->
			             <ng-include  src="'/desktop/partials/usedpartials/header_desktop_dashboard.html'" ></ng-include>
		         <!--header end-->
	          
	              <!--main content start-->
	              <div id="main-content" class="over">
	                         
	                         <!--menu sidebar desktop-->
			                              <ng-include  src="'/desktop/partials/usedpartials/menu_desktop.html'" ></ng-include>
			                 <!--fin menu sidebar desktop-->
	                         
	                         <!-- wrapper start-->
	                         <div class="wrapper with-side-bar mes-points">
	                             <div class="row">
	                                     
	                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 point left">
	                                      <h3 class="pad-bottom-20 desktop">Mes points</h3>
	                                      <div class="content center">
	                                      	<p class="date">Au {{dateNow}} vous avez accumulé : </p>
	                                      	
                                                <div class="nb-point">
                                                    <div class="center"><span>{{points}}</span><br/><span class="pt">points</span></div>
                                                </div>
                                                
	                                        
                                                <div ng-if="points>=100" ng-repeat="detail in details">
                                                    <div ng-if="detail.badge!=0">
                                                        <div class="separateur pad-top-5"><span class="center">|</span></div>
                                                        <div class="badge">
                                                                <div><span class="date">le {{detail.start}}</span><br/><br><span class="nb"><strong>Badge {{detail.badge}}</strong> débloqué</span><br><br/><img src="desktop/images/img-badge.png" /> </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div ng-if="detail.badge==0">
                                                        <div class="separateur pad-top-5"><span class="center">|</span></div>
                                                        <div class="date-point">
                                                                <div>
                                                                    <span class="date">du {{detail.start}} au {{detail.end}}</span><br/>
                                                                    <span class="nb" ng-if="detail.points < 0">-{{detail.points}} points</span>
                                                                    <span class="nb" ng-if="detail.points == 0">{{detail.points}} points</span>
                                                                    <span class="nb" ng-if="detail.points > 0">+{{detail.points}} points</span>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
 
	                                      
	                                      </div>
	                                             
	                                    </div>
	                                 
	                                    <div class="col-xs-12 mobile sub">
			                               <a class="type-bt-green left  bt-width" href="/mecanisme-points"><span>Comment gagner des points ?</span></a>
			                            </div>
	                                    
	                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 niveau desktop border-left left">
	                                     <h3 class="pad-bottom-20">Comment gagnez des points ?</h3>
	                                     <p class="date" style="font-size:1.6em">Pendant toutes la durée de votre programme, vous pouvez accumuler des points pour débloquer des niveaux et vous libérer de la cigarette !</p>
	                                     <div class="date-point">
                                                 <div>
                                                     <span class="date date-1">Inscription</span>
                                                     <span class="nb">+50<br/> points</span>
                                                 </div>
                                         </div>
	                                     <div class="date-point">
                                                 <div>
                                                     <span class="date date-2">Signature du contrat</span>
                                                     <span class="nb">+50<br/> points</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-3">Chaque cigarette non fumée</span>
                                                     <span class="nb">+1<br/> point</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-4">1<sup>er</sup> jour du programme</span>
                                                     <span class="nb">+4<br/> points</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-5">Chaque jour sans tabac</span>
                                                     <span class="nb">+2<br/> points</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-6">1<sup>ère</sup> semaine sans tabac</span>
                                                     <span class="nb">+5<br/> points</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-7">2<sup>éme</sup> semaine sans tabac</span>
                                                     <span class="nb">+5<br/> points</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-8">3<sup>éme</sup> semaine sans tabac</span>
                                                     <span class="nb">+5<br/> points</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-9">4<sup>éme</sup> semaine sans tabac</span>
                                                     <span class="nb">+5<br/> points</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-10">Avant la date d'arrêt, j'ai respecté mon objectif de réduction</span>
                                                     <span class="nb">+4<br/> points</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-11">Consulter une astuce</span>
                                                     <span class="nb">+1<br/> point</span>
                                                 </div>
                                         </div>
                                         <!--<div class="date-point">-->
                                                 <!--<div>-->
                                                     <!--<span class="date">Être parrain</span>-->
                                                     <!--<span class="nb">+20 points</span>-->
                                                 <!--</div>-->
                                         <!--</div>-->
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-12">Choisir un parrain</span>
                                                     <span class="nb">+10<br/> points</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-13">Contacter un parrain</span>
                                                     <span class="nb">+3<br/> points</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-14">Consulter un site d'actualité depuis le "bouton panique"</span>
                                                     <span class="nb">+1<br/> point</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-15">Consulter un jeu depuis le "bouton panique"</span>
                                                     <span class="nb">+1<br/> point</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-16">Consulter mes statistiques</span>
                                                     <span class="nb">+1<br/> point</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-17">Consulter ma stratégie</span>
                                                     <span class="nb">+1<br/> point</span>
                                                 </div>
                                         </div>
                                         <p class="date" style="font-size:1.5em">Cependant, si vous répondez aux questions qui vous sont proposées suite à un craquage, vous pouvez récupérer des points.</p>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-18">Validation du questionnaire proposé suite à un craquage</span>
                                                     <span class="nb" style="text-align: center;">+4<br/> points</span>
                                                 </div>
                                         </div>
                                         <div class="date-point">
                                                 <div>
                                                     <span class="date date-19">Validation du questionnaire lors d'une tentation</span>
                                                     <span class="nb" style="text-align: center;">+4<br/> points</span>
                                                 </div>
                                         </div>
	                                     
	                                     <h3 class="pad-bottom-20 margin-top-20">Les différents niveaux</h3>
	                                     <p class="date" style="font-size:1.5em">En cumulant des points, vous pouvez atteindre des niveaux dans votre sevrage tabagique :</p>
	                                     <ul>
	                                       	<li class="first"><p>j'ai fixé une date d'arrêt :<br/><span>Prêt pour le jour J</span></p><img src="../desktop/images/today.png" /></li>
	                                      	<li class="second"><p>- de 500 points :<br/><span>Motivé pour réussir</span></p><img src="../desktop/images/main.png" /></li>
	                                      	<li class="third"><p>entre 500 et 1500 points :<br/><span>Je tiens le cap</span></p><img src="../desktop/images/cap-1.png" /></li>
	                                      	<li class="forth"><p>entre 1500 et 3000 points :<br/><span>Je continue dans cette voie là</span></p><img src="../desktop/images/voie.png" /></li>
	                                      	<li class="last"><p>+ de 3000 points :<br/><span>Je tiens le cap</span></p><img src="../desktop/images/cap-2.png" /></li>
	                                     </ul>
	                                    </div>
		                                
				                </div>
	                        </div>
	                        <!-- wrapper end-->
	              </div>
	              <!--main content end--> 
	              
	              <!--footer start-->
                   <ng-include  src="'/desktop/partials/usedpartials/footer_desktop.html'" ></ng-include>
                   <ng-include  src="'/desktop/partials/usedpartials/footer_mobile.html'" ></ng-include>
                  <!--footer end--> 
	            
	</div>

</div>
