<div ng-hide="loading">
	<div id="container" >
	             <!--header start-->
		               <ng-include  src="'/desktop/partials/usedpartials/header_desktop_default.html'" ></ng-include>
		         <!--header end-->
	          
	              <!--main content start-->
	              <div id="main-content" class="over pre-inscription">
	                         <!-- wrapper start-->
	                         <div class="wrapper">
	                             <p class="p-bienvenu text-center" style="font-size:1.5em">
	                                En renseignant ces informations, vous acceptez qu'elles soient soumise à notre <strong>charte de confidentialité</strong> et certifiez avoir pris connaissance du <strong>règlement.</strong>  
	                             </p>
	                             <div class="row">
	                             
	                               <div style="display:none;" id="signIn">
	                       		      <div class="capture_backgroundColor">
							    	    <div class="capture_signin">
			                                 {* #userInformationForm *}
			                                 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				                                      <div class="mg-auto container-col">
				                                      <h3 class="text-center h3-green desktop">J'ai déjà démarré mon programme</h3>
				                                      <div class="">
						                                      <p class="text-left txt-form-home desktop">Pour vous connecter, renseignez vos identifiants du Club des incroyables :</p>
						                                      <p class="text-left txt-form-home mobile">En renseignant ces informations, vous acceptez qu'elles soient soumise à notre charte de confidentialité et certifiez avoir pris connaissance du règlement.</p>
						                                      <form action="" method="POST" >
						                                          <div class="pad-bottom-10 relative">
						                                             {* traditionalSignIn_emailAddress *}
						                                             <span class="inp-ico-mail"></span>
						                                          </div>
						                                          <div class="pad-bottom-10 relative">
						                                             {* traditionalSignIn_password *}
						                                             <span class="inp-ico-pass"></span>
						                                          </div>
						                                          <div class="text-right pad-bottom-10 reset-pass">
						                                             <a href="/mot-de-passe-oublie" class="text-link-green margin-left-txt-pass m-size" style="padding-right: 18px;">Mot de passe oublié ?</a>
						                                          </div>
						                                          
						                                          <div class="center-checks">
						                                             <div class="custom-checkbox" id="ck1">
																	   <input type="checkbox" value="1" id="condition1" name="condition1" class="lightcheckbox" directive-checkbox />
																	   <label class="label-check" for="condition1"></label>
																	   <span class="txt-checkbox">Rester connecté</span>
															         </div>
					                                              </div>
					                                              			                                          
						                                          <div class="center-checks">
						                                                <div class="custom-checkbox" id="ck2">
																		  <input type="checkbox" value="2" id="condition2" name="condition2" class="lightcheckbox" directive-checkbox />
																		  <label class="label-check" for="condition2"></label>
																		  <span class="txt-checkbox">J'accepte </span>
																		  <a href="/infos-legales/CGU" class="text-link-black">les conditions d'utilisations</a>
																        </div>
						                                          </div>
						                                          
						                                          <div class="pad-bottom-25 center-checks">
						                                                <div class="custom-checkbox" id="ck3">
																		   <input type="checkbox" value="3" id="condition3" name="condition3" class="lightcheckbox" directive-checkbox />
																		   <label class="label-check left condition" style="margin-left:2px;" for="condition3"></label>
																		   <div class="left confident-mob">
																			   <span class=" txt-checkbox">J’ai pris connaissance de</span>
																			   <a href="/infos-legales/confidentialite" class="desktop text-link-black">la politique de confidentialité de J&J</a>
																			   <span class=" txt-checkbox desktop">et accepte la collecte et le traitement de mes<br> données de santé dans le cadre du programme de coaching.<br/> Ces données ne seront pas accessibles par JJSBF.</span>
																			   
																			   <a href="/infos-legales/confidentialite" class="mobile text-link-black">la politique de confidentialité de J&J</a>
																			   <span class=" txt-checkbox mobile">et accepte la collecte et le traitement de mes données de santé dans le cadre du programme de coaching. Ces données ne seront pas accessibles par JJSBF.</span>
																			   <div id="condition-error">Vérifier que vous acceptez la politique de confidentialité.</div>
																		   </div>
																		    
																        </div>
						                                           </div>
						                                          
						                                           {* traditionalSignIn_signInButton *}
						                                         <!--  <input type="submit" class="type-bt-green bt-postion-bottom mg-auto-mobile" value="Valider" /> -->
						                                      </form>
						                               </div>       
				                                    </div>     
			                                </div>
			                                {* /userInformationForm *}
			                              </div>
			                            </div>
			                         </div> 
			                         
	                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 desktop">
		                                   <div class="mg-auto container-col col-inscrire">
		                                      <h3 class="text-center h3-green">Vous n'avez pas encore de compte<br/> J’accomplis l'incroyable ?</h3>
		                                      <a href="/inscription" class="type-bt-green bt-postion-bottom" >M'inscrire</a>
		                                   </div>  
	                                </div> 
	                            </div>
	                       </div>
	                       <!-- wrapper end-->
	              </div>
	              <!--main content end-->  
	              
	              <!--footer start-->
	                    <ng-include  src="'/desktop/partials/usedpartials/footer_desktop.html'" ></ng-include>
	                    <ng-include  src="'/desktop/partials/usedpartials/footer_mobile.html'" ></ng-include>
	              <!--footer end-->
	              
	              
	            
	</div>
</div>
