<div ng-hide="loading">
    <div  id="container" class="home">
        <!--header start-->
        <ng-include ng-show="!intro" src="'/desktop/partials/usedpartials/header_desktop_default.html'" ></ng-include>
        <!--header end-->

        <!--main content start-->
        <div id="main-content" class="over">
            <!-- wrapper start-->
            <div class="wrapper">
                <div class="row">
                    <!-- Mot de passe oublié -->
                    <div  ng-hide="blocksuccess" id="forgotPassword">
                        <div class="capture_backgroundColor">
                            <!-- {* #forgotPasswordForm *}-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mg-auto container-col pad-bottom-25-mobile">
                                    <h3 class="text-center h3-green desktop">Mot de passe oublié</h3>
                                    <p class="text-left txt-form-home pad-bottom-25-mobile m-size" style="padding-top:50px">Merci de renseigner l'adresse email utilisée pour votre compte</p>
                                    <div class="pad-bottom-10 relative">
                                        <!--{* emailAddress *}-->
                                        <input type="text" class="mg-auto-mobile custom-input" ng-model="person.email" name="email" placeholder="Votre Email"/>
                                        <span class="inp-ico-mail"></span>
                                    </div>

                                    <div ng-show="mailSucess">
                                        <span style="font-weight: normal;color: #339933;font-size: 12px;">Un e-mail de réinitialisation de mot de passe vous a été envoyé.</span> 
                                    </div>
                                    <div ng-show="mailError">
                                        <span style="font-weight: normal;color: red;font-size: 12px;">l'email renseigné n'existe pas!</span> 
                                    </div>
                                    <div ng-show="WsError">
                                        <span style="font-weight: normal;color: red;font-size: 12px;">Une erreur s'est produite lors de connexion au web service!</span> 
                                    </div>

                                    <!--{* backButton *}-->
                                    <!--<button style="border:none" ng-click="showForgotBlock()" onclick="$('#forgotPassword').hide();
                                            $('#signIn').show();
                                            $('.bloc-left-home').show();" id="capture_forgotPassword_backButton" class="capture_backButton capture_btn capture_primary" type="button"  name="backButton">
                                        <span class="janrain-icon-16 janrain-icon-back"></span>
                                    </button>-->
                                    <!--{* forgotPassword_sendButton *}-->
                                    <div style="width:100%; text-align:center;padding-top: 20px;">
                                      <a style="display:inline-block; text-align:center;" href="javascript:void(0)" ng-click="getAuthorizationCode()"  class="marg-top-25-mobile type-bt-green mg-auto-mobile pad-bottom-10" >Valider</a> 
                                    </div>
                                </div> 
                            </div>
                            <!--{* /forgotPasswordForm *}-->
                        </div>
                    </div>
                    <div ng-hide="!blocksuccess" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 emailpassword mobile-bg-gris" id="emailpassword">
                        <h2>Email Envoyé !</h2>
                        <p>Votre demande a bien été prise en compte.<br/> Merci de vérifier votre email</p>
                        <a href="/" class="type-bt-green" >Ok</a> 
                    </div>

                    <!-- Fin Mot de passe oublié -->       

                </div>
            </div>
            <!-- wrapper end-->
        </div>
        <!--main content end-->  

        <!--footer start-->
        <ng-include  src="'/desktop/partials/usedpartials/footer_desktop.html'" ></ng-include>
        <ng-include  src="'/desktop/partials/usedpartials/footer_mobile.html'" ></ng-include>
        <!--footer end-->
    </div>
</div>