<div class="footer-mobile mobile">
                    <p>
                        Médicament contenant de la nicotine. Patch, gomme et inhaleur : pas avant 15 ans, Microtab, nicorette comprimés à sucer et NICORETTESPRAY® : pas avant 18 ans. L’arrêt définitif de la consommation de tabac est préférable. Contient de l’alcool (NICORETTESPRAY®). Demandez conseil à votre pharmacien. En cas de difficulté, consulter votre médecin. Lire attentivement la notice. L’arrêt immédiat de la consommation est préférable. M14NI348 – 14/09/6 504 345 1/GP/002 »
                    </p>
                    <p>
                        © Johnson & Johnson Santé Beauté France S.A.S. 2014<br/> 
                        Cette application est publiée par Jonhson & Jonhson Santé Beauté France SAS. La responsabilité de son contenu lui en incombe. Cette application est destinée au public français.
                    </p>
</div>
<ng-include  src="'/desktop/partials/usedpartials/popupsMobile.html'" ></ng-include>