<ul class="menu-principal-mobile">
    <li class="marg-l-null"><a href="javascript:void(0)" ng-click="switchJournal()" ><span class="ico-mobile-journal" style="margin-bottom: 3px;"></span>Mon<br/>journal</a></li>
    <li><a href="/calendrier-list"><span class="ico-mobile-calendrier"></span>Mon<br/>calendrier</a></li>
    <li class="marg-r-null"><a href="/mes-points"><span class="ico-mobile-points"></span>Mes<br/>points</a></li>
    <li class="marg-l-null"><a href="/menu-statistiques"><span class="ico-mobile-statistique"></span>Mes<br/>Statistiques</a></li>
    <li><a href="/menu-astuces"><span class="ico-mobile-astuces"></span>Astuces</a></li>
    <li class="marg-r-null"><a href="javascript:void(0);" ng-click="accessMobilePlan();" ><span class="ico-mobile-plan"></span>Mon plan<br/>d'action</a></li>
</ul>