<!-- Popup 1 -->
<a id="modalPlan"  style="display:none"  data-toggle="modal" data-target="#mymodalPlan">mon plan</a>
<div id="mymodalPlan" class="modal fade quiz-one" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="height:180px;">
    <div class="modal-content">
        <div class="pad-top-5">
        	<p class="text-center mm-size" style="text-align:left">Vous devez d'abord fixer une date d'arrêt pour accéder à votre plan d'action</p>
        </div>
        <div class="modal-btn-fixe-date" style="text-align:center">
        	<a data-dismiss="modal" data-toggle="modal" ng-click="goContratFromDash()">Fixer une date d'arrêt</a>
        </div>
    </div>
  </div>
</div>
<!-- End Popup 1 -->  

<!-- Popup 1 -->
<a id="modalPlan2"  style="display:none"  data-toggle="modal" data-target="#mymodalPlan2">mon plan</a>
<div id="mymodalPlan2" class="modal fade quiz-one" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="height:180px;">
    <div class="modal-content">
        <div class="pad-top-5">
        	<p class="text-center mm-size" style="text-align:left">Vous n'avez pas encore fixé de date d'arrêt, souhaitez-vous fixer cette date maintenant ?</p>
        </div>
        <div class="over col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<a class="type-bt-green close cos-bg-lt" data-dismiss="modal" href="javascript:void(0)" ng-click="goContratFromDash()">Oui</a> 
		</div>
	    <div class="over col-lg-12 col-md-12 col-sm-12 col-xs-12">
		     <a class="type-bt-green close cos-bg-lt" data-dismiss="modal" data-toggle="modal" data-target="#myModal2" >plus tard</a> 
	    </div>
    </div>
  </div>
</div>
<!-- End Popup 1 -->  