<img ng-src='desktop/images/slide{{i}}.png'>

<div ng-if="i==1">
	<h3 class="text-center h3-green">J'accomplis l'incroyable !</h3>
	 <p class="text-center description">
	    Vous souhaitez en finir avec la cigarette ? Répondez à notre questionnaire en moins de 10 minutes pour obtenir votre profil personnalisé de fumeur avec des conseils individualisés.
	 </p>
</div>

<div ng-if="i==2">
	<h3 class="text-center h3-green">Un profil ciblé pour des conseils concrets</h3>
	 <p class="text-center description">
	    Pour vous aider à relever ce défi, nous avons besoin de mieux vous connaître. Grâce à ce quiz nous pourrons vous proposer un programme 100% personnalisé et des conseils adaptés à votre profil.   
	 </p>
</div>

<div ng-if="i==3">
	<h3 class="text-center h3-green">Des points pour mesurer vos progrès</h3>
	 <p class="text-center description">
	   Pour vous accompagner et vous encourager tout au long de cette bataille contre la cigarette, vous recevrez des points pour marquer vos succès. Chaque pas compte pour vaincre votre dépendance !
	 </p>
</div>